<html>    
    <head>
        <meta charset="utf-8">
        <title>zerahs</title>
        <script src="dist/js/queue.js"></script>
        <script src="dist/js/lib/fftcomplex.js"></script>
        <script src="dist/js/lib/pitch_analyser.js"></script>
        <script src="dist/js/lib/pixi.min.js"></script>
        <script src="dist/js/helper.js"></script>
        <script src="dist/js/pitch_utils.js"></script>
    </head>
    <body>
    	<div>
    		<button onclick="toggleLiveInput()">Play/Pause</button>
		</div>
        <script src="dist/js/main.js"></script>
    </body>
</html>